.home-template {
    position: relative;
    width: 100%;
    height: 100vh;
}
.add {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background-color: #fff;
    padding: 30px;
    cursor: pointer;
}

.user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.home-detail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.home-container {
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px;
}

.home-action {
    display: flex;
    justify-content: flex-end;
}

.auth {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}
.login {
    margin-right: 20px;
    border: none;
    background-color: #7dc2fa;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}

.login:hover {
    background-color: #5fb7ff;
}

.register {
    margin-right: 20px;
    border: none;
    background-color: #ff8a80;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}

.register:hover {
    background-color: #ff7265;
}